.title {
  color: #FF0000;
  transition: all 0.5s;
}

.title2 {
  color: #007FFF;
}

.majuscule {
text-transform: uppercase;
}

.title span {
  color: green;
}

.active {
  font-size: 45px;
  transition: all 0.5s;
}
